* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#recordAudio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#recordAudio video {
flex-basis: 100%;
}

#buttons {
    margin-top: 30px;
    margin-bottom: 30px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
flex-basis: 100%;
}